#hero {
            height:100vh;
            width:100%;
            background:rgb(0, 0, 0);
            display:flex;
            align-items:center;
            justify-content: center;
}
#hero::after {
      width:100%;
      height:100%;
      content: '';
      position:absolute;
      z-index:10;
      top:0;
      left:0;
      background:rgba(0,0,0,0.5)
}
#hero video {
      width:100%;
      height:100%;
      position:absolute;
      top:0;
      left:0;
      z-index:5;
      object-fit:cover;
      font-family:'object-fit: cover';
}
#hero .texture {
      width:100%;
      height:100%;
      position:absolute;
      top:0;
      left:0;
      z-index:15;
      background:url('../texture.png');
}
#hero .caption {
      position:relative;
      z-index:20;
      text-align:center;
      color:#ffffff;
}
#hero .caption h1 {
      text-transform: uppercase;
      font-size:4.5em;
      
      margin-bottom:0.5rem;
}
#hero .caption h2 {
      font-weight:400;
      font-size:1.5rem;
      margin:0;
      font-family: 'PT Sans', sans-serif;
}
@media screen and (min-width:768px)
{
      #hero .caption h1 {
            font-size:2.5rem;
      }
      #hero .caption h2 {
            font-size:1.75rem;
      }
}
@media screen and (min-width:992px)
{
      #hero .caption h1 {
            font-size:3rem;
      }
      #hero .caption h2 {
            font-size:2rem;
      }
}
@media screen and (min-width:1200px)
{
      #hero .caption h1 {
            font-size:15rem;
      }
      #hero .caption h2 {
            font-size:2.5rem;
      }
}












h1 {
  font-family: 'inter', sans-serif;
  letter-spacing: 1.5px;
  color: white;
  font-weight: 100;
  font-size: 2.4em;
}
h3,h5,p,li{
      color: #cccccc;
      text-align: justify;
      text-justify: inter-word;
  }
/*navbar -------------------------------------------------------------------------------*/
.navbar-light .navbar-brand {
      color: rgba(255, 255, 255, 0.9);
  }
  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
      color: rgba(255, 255, 255, 0.9);
  }
  .bg-white {
      background-color: rgba(255, 255, 255, 0)!important;
  }
  
  .hidden-spacer {
      height: 56px
  }
  
/* Register Yourself ----------------------------------------------------------------------------------------- */
.vertical {
      border-left: 3px solid #44B5CB;
      height: 130px;
      position:absolute;
      left: 50%;
    }
    .btn-default {
        font-size: 20px;
        color: #44B5CB;
        letter-spacing: 1px;
        line-height: 15px;
        border: 2px solid #44B5CB;
        border-radius: 40px;
        background: transparent;
        transition: all 0.3s ease 0s;
        text-decoration: none;
      }
      
      .btn-default:hover {
        color: #FFF;
        background: #44B5CB;
        text-decoration: none;
      }
      
    @media(max-aspect-ratio:16/9)
    {
        .bg-video{
            width: auto;
            height: 100%;
        }
    }
    
    /*fee -------------------------------------------------------------------------------------------------------------*/
    .card {
      background: #ffffff33;
      border-radius: 10px;
      box-shadow: 0 4px 30px #0000001a;
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      }
    
    /*contect us -----------------------------------------------------------------------------------------------------------*/
    /*Card Over Map*/
    #div_2 {

      width:fit-content;
      margin-top: -25%;
      margin-left: 10%;
      margin-right: 10%;
    
      background: #FBFBFB;
      box-shadow: 1px 1px 30px rgba(0, 0, 0, .1);
    }
    





    /* Timeline -------------------------------------------------------------------------------------------------------------------*/
    @import '//fonts.googleapis.com/css?family=Muli:300';

    .timeline {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      padding: 0 75px;
      margin: 0;
      list-style: none;
    }

  #content .card{
    background: #00000000;
  }

  #content   .timeline::before {
      position: fixed;
      top: 0;
      height: 100%;
      padding-right: 11px;
      border-right: 4px solid #44B5CB;
      content: "";
    }
    #content  .timeline__item {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: stretch;
      align-items: stretch;
      padding: 5px 0;
    }
    #content   .timeline__step {
      padding-right: 50px;
    }
    #content  .timeline__step__marker {
      position: relative;
      display: table-cell;
      height: 24px;
      min-height: 24px;
      width: 24px;
      min-width: 24px;
      border: 4px solid #44B5CB;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background-color: #44B5CB;
      z-index: 0;
    }

    #content   .timeline__step__marker--blue {
      border-color: #44B5CB;
    }
    #content .timeline__time, #content li {
      padding-right: 126px;
      font-size: 16px;
    }
    #content   .timeline__title {
      padding-bottom: 26px;
      font-size: 22px;
    }
    #content   .timeline__points {
      padding: 0;
      list-style: none;
      font-size: 24px;
      color: #77777D;
    }

    
    /* For mobile!
     */
    @media (max-width: 768px) {
      .card {
        max-width: 375;
      }
    
      #content    .timeline {
        padding: 0 35px;
      }
      #content   .timeline::before {
        padding-right: 5px;
      }
      #content  .timeline__item {
        padding: 5px 0;
      }
      #content   .timeline__step {
        padding-right: 35px;
      }
      #content  .timeline__step__marker {
        height: 13.71429px;
        min-hieght: 13.71429px;
        width: 13.71429px;
        min-width: 13.71429px;
        border-width: 2.28571px;
      }
      #content  .timeline__title {
        padding-bottom: 15px;
        font-size: 18px;

      }
       #content li {
        padding-right: 0px;
        font-size: 16px;
        text-align: left;
      }
      #content  .timeline__points {
        font-size: 13.71429px;
      }
      #content  .timeline__points > * {
        padding-bottom: 6.85714px;
      }
    }
   