header {
    height:140vh;
    min-height:400px;
    background-size:cover;

}
 h1,h2 {
    color: #ffffff;
}
.bg-video{
  position: absolute;
  z-index: -1;
  min-width: 100%;   
}

h3,h5,p,li{
    color: #cccccc;
    text-align: justify;
    text-justify: inter-word;
}


/*navbar -------------------------------------------------------------------------------*/
.navbar-light .navbar-brand {
    color: rgba(255, 255, 255, 0.9);
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(255, 255, 255, 0.9);
}
.bg-white {
    background-color: rgba(124, 124, 124, 0)!important;
}

.hidden-spacer {
    height: 56px
}

/*hero section --------------------------------------------------------------------------*/
.text-box{
    width:90%;
    color:#fff;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;

}

.text-box h1{
    font-size:62px;
    font-family: 'Oswald';
    font-weight: bold;
    font-size: 175px;
    letter-spacing: 1.4rem;
}


/* Register Yourself ----------------------------------------------------------------------------------------- */
.vertical {
  border-left: 3px solid #44B5CB;
  height: 150px;
  position:absolute;
  left: 50%;
}
.btn-default {
    font-family:'Oswald';
    font-size: 13px;
    color: #44B5CB;
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid #44B5CB;
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
  }
  
  .btn-default:hover {
    color: #FFF;
    background: #44B5CB;
    border: 2px solid #44B5CB;
  }
  
@media(max-aspect-ratio:16/9)
{
    .bg-video{
        width: auto;
        height: 100%;
    }
}

/*fee -------------------------------------------------------------------------------------------------------------*/
.card {
  background: #ffffff33;
  border-radius: 10px;
  box-shadow: 0 4px 30px #0000001a;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  }

/*timeline *-----------------------------------------------------------------------------------------------------/
/* Import */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/oswald/v49/TK3_WkUHHAIjg75cFRf3bXL8LICs169vsUZiYA.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/oswald/v49/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiYA.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/oswald/v49/TK3_WkUHHAIjg75cFRf3bXL8LICs1xZosUZiYA.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 200;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdr.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdr.ttf) format('truetype');
  }
  /* Variables */
  /* Base */
  body {
    background: #252827;
    font-size: 16px;
  }
  strong {
    font-weight: 600;
  }
  h1 {
    font-family: 'inter', sans-serif;
    letter-spacing: 1.5px;
    color: white;
    font-weight: 100;
    font-size: 2.4em;
  }
  #content {
    margin-top: 50px;
    text-align: center;
  }
  /* Timeline */
  .timeline {
    border-left: 4px solid #44B5CB;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(255, 255, 255, 0.03);
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Source Sans Pro', sans-serif;
    margin: 50px auto;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    font-weight: 100;
    max-width: 30%;
  }
  .timeline h1,
  .timeline h2,
  .timeline h3 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 1.4em;
  }
  .timeline .event {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
    padding-bottom: 25px;
    margin-bottom: 50px;
    position: relative;
  }
  .timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }
  .timeline .event:before,
  .timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
  }
  .timeline .event:before {
    left: -235.5px;
    color: rgba(255, 255, 255, 0.4);
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
  }
  .timeline .event:after {
    box-shadow: 0 0 0 4px #44B5CB;
    left: -57.85px;
    background: #313534;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
  }
  

/*contect us -----------------------------------------------------------------------------------------------------------*/
/*Card Over Map*/
#div_2 {
  height: 110%;
  width: 30%;
  margin-top: -25%;
  margin-left: 10%;
  vertical-align: top;
  background: #FBFBFB;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, .1);
}


/*scioal media buttton*/
  .btn.btn-social-icon{
    width: 50px;
    height: 50px;
    padding: 0;
}
.template-demo > .btn{
    margin-right: 0.5rem !important;
}

.template-demo{
    margin-top: 0.5rem !important;
}

.btn.btn-rounded {
    border-radius: 50px;
}


.btn-outline-facebook {
    border: 1px solid #3b579d;
    color: #3b579d;
}

.btn-outline-facebook:hover {
    background: #3b579d;
    color: #ffffff;
}

.btn-outline-linkedin {
    border: 1px solid #0177b5;
    color: #0177b5;
}

.btn-outline-instagram {
    border: 1px solid #dc4a38;
    color: #dc4a38;
}



.btn-outline-linkedin:hover {
    background: #0177b5;
    color: #ffffff;
}


.btn-outline-instagram:hover{
    background: #e52d27;
    color: #ffffff;
}

.btn-facebook {
    background: #3b579d;
    color: #ffffff;
}
.btn-linkedin {
    background: #0177b5;
    color: #ffffff;
}
.btn-instagram {
    background: #dc4a38;
    color: #ffffff;
}

.btn-facebook:hover, .btn-facebook:focus {
    background: #2d4278;
    color: #ffffff;
}

.btn-linkedin:hover, .btn-linkedin:focus {
    background: #015682;
    color: #ffffff;
}

.btn-instagram:hover, .btn-instagram:focus {
    background: #bf3322;
    color: #ffffff;
}